@import "tailwindcss";
@import "tw-animate-css";
@import "flag-icons/css/flag-icons.min.css";

@theme {
  --color-off-white: #fafafa;
  --color-gray-dark: #717171;
  --color-purple: #CBACF9;
  --color-navy: #1D3557;

  --font-poppins: "Poppins", sans-serif; 
  --font-dm-serif-display: "DM Serif Display", serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}


